.SettingsModal {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  margin: 5px;
}

.SettingsModal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.logout-btn-container {
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.logout-btn {
  background-color: rgb(139, 29, 29);
}