.user-input {
    background-color: whitesmoke;
    color: black;
    height: 50vh;
    width: 40vw;
    margin-left: 10px;
    border-radius: 5%;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}