.user-output {
  background-color: whitesmoke;
  color: black;
  height: 50vh;
  width: 40vw;
  margin-right: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-weight: bold;
  position: relative; /* Add position: relative */
}

.output-btns {
  display: flex;
  width: 100%; /* Take up the full width of the .user-output container */
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Position the .output-btns container relative to .user-output */
  bottom: 0;
}

.user-output button {
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #3f8a42;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
