.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.InputOutput {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}